body {
  margin: 20px;
}

#videoContainer {
  position: absolute;
}

#render-div {
  display: flex;
  border: 1px solid #558abb;
  height: 600px;
  width: 800px;
  margin-bottom: 10px;
  position: absolute;
  pointer-events: none;
}